{{>main_head}}
<script type="text/javascript">
    $(function() {

        $('#documents-table').DataTable( {
            "ajax": {
                "url": '/documents/list',
                "dataSrc": "data"
            },
            "language": {
                "url": "dataTables.russian.lang"
            },
            "stateSave": true,
            "order": [[1, "desc"]],
            "columns": [
                {"data": "id",
                 "render": function (data, type, full, meta) {
                    return '<a href="/documents/edit?id=' + data + '">' + data + '</a>'; }
                },
                { "data": "creation" },
                { "data": "document_type_name" },
                { "data": "contractor_name",
                    "render": function (data, type, full, meta) {
                        if (full.contractor_address || full.contractor_phone) {
                            let titleStr = "";
                            if (full.contractor_address) {
                              titleStr = full.contractor_address + " ";
                            }
                            if (full.contractor_phone) {
                                titleStr += "Телефон: " + full.contractor_phone
                            }
                            return '<span title="' + titleStr + '">' + data + '</span>';
                        } else {
                            return data;
                        }
                    }
                },
                { "data": "sum_money_amount" },
                { "data": "description" }
            ],
            columnDefs: [ {
                targets: 1,
                render: $.fn.dataTable.render.moment( 'DD.MM.YYYY HH:mm' )
            } ],
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function ( i ) {
                    return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                            typeof i === 'number' ?
                                    i : 0;
                };

                // Total over all pages
                total = api
                        .column( 4 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                // Total over this page
                pageTotal = api
                        .column( 4, { page: 'current'} )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                // Update footer
                $( api.column( 4 ).footer() ).html(
                        "Итого: " + pageTotal +' ('+ total +')'
                );
            }
        } );

        /*$('#documents-table').delegate('tbody > tr > td', 'click', function ()
        {
            // 'this' refers to the current <td>, if you need information out of it
            location.href = "/document/edit?id=" + this.
        });*/
    });

</script>

<div class="container site-main">
    <a href="/documents/add">Новый документ</a>
    <!--form class="form-inline">
        <div class="form-group">
            <label for="device_name_input">Наименование:</label>
            <input type="text" id="device_name_input" class="form-control" size="14" name="device_name_input" />
        </div>
        <div class="form-group">
            <label for="device_serial_number_input">Серийный номер:</label>
            <input type="text" id="device_serial_number_input" class="form-control" size="14" name="device_serial_number_input" />
        </div>
        <div class="form-group">
            <label for="device_part_number_input">Номер партии:</label>
            <input type="text" id="device_part_number_input" class="form-control" size="14" name="device_part_number_input" />
        </div>
    </form-->
    <br />

    <table id="documents-table" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Создание</th>
            <th>Тип документа</th>
            <th>Контрагент</th>
            <th>Сумма</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="5" style="text-align:right">Total:</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>