extends layout.pug

block content
  include includes/header.pug
  .container.site-main
    table.display(id="documents-table", cellspacing="0", width="100%")
      thead
        tr
          th ID
          th Документ
          th Создание
          th Товар
          th Сумма
          th Контрагент
      tfoot
        tr
          th(colspan="5", style="text-align:right") Total:
          th
      tbody
        tr
          td
          td
          td
          td
          td
  script.
      $(function() {

        $('#documents-table').DataTable( {
          "ajax": {
            "url": '/finances/finance_operations_list',
            "dataSrc": "data"
          },
          "language": {
            "url": "dataTables.russian.lang"
          },
          "order": [[2,'desc']],
          "columns": [
            { "data": "id" },
            { "data": "document_id",
              "render": function (data, type, full, meta) {
                return '<a href="/documents/edit?id=' + data + '">' + data + '</a>'; }
            },
            { "data": "creation" },
            { "data": "product_name" },
            { "data": "money_amount_sum" },
            { "data": "contractor_name" }
          ],
          columnDefs: [ {
            targets: 2,
            render: $.fn.dataTable.render.moment( 'DD.MM.YYYY HH:mm' )
          } ],
          "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
              return typeof i === 'string' ?
                i.replace(/[\$,]/g, '')*1 :
                typeof i === 'number' ?
                  i : 0;
            };

            // Total over all pages
            total = api
              .column( 4 )
              .data()
              .reduce( function (a, b) {
                return intVal(a) + intVal(b);
              }, 0 );

            // Total over this page
            pageTotal = api
              .column( 4, { page: 'current'} )
              .data()
              .reduce( function (a, b) {
                return intVal(a) + intVal(b);
              }, 0 );

            // Update footer
            $( api.column( 4 ).footer() ).html(
              "Итого: " + pageTotal +' ('+ total +')'
            );
          }
        } );
      });