doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    meta(name="description", content="Бесплатная простая CRM с открытым исходым кодом. Автоматизация бизнеса.")
    meta(name="HandheldFriendly", content="True")
    meta(http-equiv="Cache-Control", content="no-cache")
    meta(http-equiv="cleartype", content="on")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title CRM495

    link(rel="stylesheet", type="text/css", href="/jquery-ui-1.12.1/jquery-ui.min.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css", data-template-style="true")
    link(rel="stylesheet", type="text/css", href="/DataTables-1.10.12/media/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    script(src="/jquery-ui-1.12.1/jquery-ui.min.js")
    script(src="/DataTables-1.10.12/media/js/jquery.dataTables.js")
    script(src="/js/common.js")
    if env.NODE_ENV === "production"
      <!-- Yandex.Metrika counter -->
      script.
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter46628793 = new Ya.Metrika({
        id:46628793,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
        });
        } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
      noscript
        div
          img(src="https://mc.yandex.ru/watch/46628793", style="position:absolute; left:-9999px;", alt="")
      <!-- /Yandex.Metrika counter -->
    script(src='https://www.google.com/recaptcha/api.js')
  body
    .wrapper
      block content