<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="HandheldFriendly" content="True"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="cleartype" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Меховая биржа</title>

    <link rel="stylesheet" type="text/css" href="/jquery-ui-1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" data-template-style="true" />
    <!--link rel="stylesheet" type="text/css" href="/css/font-awesome/font-awesome-4.4.0/css/font-awesome.min.css" /-->
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.12/media/css/jquery.dataTables.min.css"/>
    <!--link rel="stylesheet" type="text/css" href="/fancytree-2.19.0/skin-themeroller/ui.fancytree.css" /-->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>
    <script src="/jquery/esimakin-twbs-pagination-9b6d211/jquery.twbsPagination.min.js"></script>
    <script src="/fancytree-2.19.0/jquery.fancytree-all.min.js" type="text/javascript"></script>
    <script src="/js/jquery.form.min.js"></script>

    <link rel="stylesheet" href="/bootstrap-3.3.6/css/bootstrap.min.css">
    <script src="/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <script src="/jquery/HemantNegi-jquery.sumoselect-793e23a/jquery.sumoselect.min.js"></script>
    <link href="/css/sumoselect.css" rel="stylesheet"/>

    {{!--<script src="/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-select.min.css" />--}}


    {{!--<!--script src="../src/jquery.fancytree.columnview.js" type="text/javascript"></script>
    <script src="../src/jquery.fancytree.dnd.js" type="text/javascript"></script>
    <script src="../src/jquery.fancytree.table.js" type="text/javascript"></script>
    <script src="../src/jquery.fancytree.themeroller.js" type="text/javascript"></script--}}

    <script src="/js/common.js"></script>
    {{!--<script src="/jquery/jquery.get-time.js"></script>--}}

</head>



<body>
<div class="wrapper">
    {{{body}}}
</div>

</body>
</html>