extends layout.pug

block content
  nav.navbar

  .container
    .jumbotron
      h1.display-3 CRM495
      p.lead Бесплатная простая CRM система с открытым исходным кодом
      hr.my-4
      p Позволяет вести книгу доходов и расходов, базу данных клиентов и базу данных товаров и услуг
      p.lead
        form(action="/login", method="post")
          input(type="hidden" name="username" value="demo")
          input(type="hidden" name="password" value="demo")
          button.btn.btn-primary(type="submit") Демо
    .row
      .col
        label.error_message #{message}
        br
        br
        form(action="/login", method="post")
          .form-group
            label(for="username") Логин
            input(class="form-control col-md-3", id="username", name="username", placeholder="Введите логин")
          .form-group
            label(for="password") Пароль
            input(type="password", class="form-control col-md-3", id="password", name="password", placeholder="Введите пароль")
          button(class="btn btn-primary") Войти
      .col
        ul.list-group
          li.list-group-item.active Возможности системы
          li.list-group-item Книга доходов и расходов
          li.list-group-item Контрагенты
          li.list-group-item Товары и услуги
          li.list-group-item Командная работа. Несколько пользователей системы для одной компании
    br
    p
      strong Логин/пароль для демо входа:
      a.btn.btn-link(href="#" id="demoBtn") demo/demo
    p
      strong Исходный код:
      a.btn.btn-link(href="https://github.com/dtaipov/crm495" target="_blank") https://github.com/dtaipov/crm495
    br
    .embed-responsive.embed-responsive-16by9
      iframe(src="https://www.youtube.com/embed/bx7zuFVF98s", frameborder="0", allowfullscreen)

  script.
    $(function () {
      $("#demoBtn").click(function () {
        setLoginPassword();
      })
    });

    function setLoginPassword() {
      $("#username").val("demo");
      $("#password").val("demo");
    }