{{>authorization_head}}

<div class="container">
    <label class="error_message">{{message}}</label><br /><br />
    <form action="/login" method="post">
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="username">Логин</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Введите логин">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
            </div>
        </div>
        <div class="row col-sm-3">
            <button type="submit" class="btn btn-primary col-sm-3">Войти</button>
        </div>
    </form>
</div>