.navbar{
    padding: 1em 0;
    text-transform: uppercase;
}

li.dropdown:hover ul.dropdown-menu {
    visibility: visible;
    display: block;
}

ul.dropdown-menu.topNavMenu {
    background: #000;
}

ul.dropdown-menu.topNavMenu li a {
    color: #9D9D9D;
    font-size: 0.9em;
}

.dropdown-menu.topNavMenu li a {
    background-color: #000 !important;
    background-image: none !important;
    color: #9D9D9D !important;
}

.dropdown-menu.topNavMenu li a:focus, .dropdown-menu.topNavMenu li a:hover {
    color: #fff !important;
}
